body{
    margin: 0;
}
#nav{
    background-color: lightseagreen;
    height: 50px;
    margin: 0;
}
ul{
    display: inline-block;
    padding-left: 350px;  
}
ul li{
    display: inline-block;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    color:black;
    text-decoration-line: none;
    padding-right: 15px;
}
a:hover{
    background-color: white;
}
#contact{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form {
    border: 1px solid black; 
    font-family: Arial;
    color:black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 700px;
    padding: 20px 50px 20px 50px; 
}
#link{
    margin-top: 200px;
    margin-right: 390px;
    margin-bottom: 30px;
    margin-left: 390px;
}