body{
    margin: 0;
}
#nav{
    background-color: lightseagreen;
    height: 50px;
    margin: 0;
}
ul{
    display: inline-block;
    padding-left: 20%;  
}
ul li{
    display: inline-block;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    color:black;
    text-decoration-line: none;
    padding-left: 15px;
    padding-right: 15px;
}
a:hover{
    background-color: white;
}
h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    border: 2px black solid;
    border-spacing: 0;
}
#foodMap{
    text-align: center;
    margin-top: 30px;
}
#foodPic{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 23%;
}
#h{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pic{
    float: left;
}
#link{
    margin-top: 200px;
    margin-bottom: 30px;
    margin-left: 30%;
}