body{
    margin: 0;
}
#nav{
    background-color:rgb(255, 51, 0);
    height: 50px;
    margin: 0;
}
ul{
    display: inline-block;
    padding-left: 150px;
    padding-right: 100px;
}
ul li{
    display: inline-block;
    font-size: 18px;
    font-family: cursive;
}
a{
    color:black;
    text-decoration-line: none;
    padding-right: 10px;
}
a:hover{
    background-color: white;
}
p{
    text-align: center;
}